header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}
.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}
.cbtn {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.header__socials {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 3rem;
    font-size: 1.5rem;
}
.header__socials::after {
    content: "";
    width: 2px;
    height: 2rem;
    background: var(--sky-blue);
}
.wmym {
    margin-top: 4rem;
    width: 20rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 10rem);
}
.me {
    border-radius: 2rem;
}
.scroll__down {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    position: absolute;
    right: 0rem;
    bottom: 3rem;
    font-size: 1.5rem;
}

/* -------------------------------- Responsive -------------------------------- */
/* Tablets (medium devices) */
@media screen and (max-width: 601px) {
    header {
        height: 68vh;
    }
}

/* Mobiles (small devices) */
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }
}
