header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cbtn {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.header__socials {
    display: flex;
    gap: 1rem;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 3rem;
    flex-direction: column;
}
