.app__navbar {
  background: var(--black-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--lightGray-color);
  position: fixed;
  z-index: var(--nav-loc);
}
.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.app__navbar-logo span {
  font-size: 2em;
}
.app__navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.app__navbar-links a {
  color: var(--lightGray-color);
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
  flex-direction: column;
  transition: all 0.4s ease-in-out;
}
.app__navbar-links a:hover {
  color: var(--shakespeare-blue-primary-color);
}
